
/* Content styling; used with login.html for a login form */

  #account_form #lab {
    vertical-align: top;
    margin-top: 10px;
    display: inline-block;
  }

  #account_form #lab {
    text-align: right;
    width: 20%;
  }

  #account_form input {
    width: 400px;
    margin-top: 10px;
  }

  #account_form #but_login, #account_form #but_create_account{
    margin-left: 20%;
    width: auto;
  }

  #create_acc {
    text-align: center;
  }

  #account_form #username_helper {
    margin-left: 20%;
    display: block;
    color: blue;
    margin-top: 10px;
  }

  #account_form #l_status {
    margin-left: 20%;
    display: block;
    color: #505050;
    margin-top: 10px;
  }
