
/* Content styling */

  .content {
    background-color: #ffffff;
    padding-left:2%;
    padding-right:2%;
    padding-top:10px;
    padding-bottom:20px;
  }

  .content_types {
    font-family: Tahoma, Geneva, sans-serif;
    overflow: hidden;
    background-color: #333;
  }

  .content_types a {
    width: 25%;
    float: left;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
  }

  .content_types a:hover:not(.active) {
    background-color: black;
  }

  .content_types .active {
    background-color: #4CAF50;
  }
