
/* Content styling; used with index.html for the content listing */

  .content_types {
    overflow: hidden;
    background-color: #333;
  }

  .content_types a {
    width: 25%;
    float: left;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
  }

  .content_types a:hover:not(.active) {
    background-color: black;
  }

  .content_types .active {
    background-color: green;
  }

  .content em {
    font-size: 20px;
    font-style: normal;
  }

  .content table {
    width: 100%;
    border-collapse: collapse;
  }

  .content td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
  }

  .content td h1 {
    margin-top: 10px;
  }

  .content tr:hover {
    background-color: #e5e5e5;
  }

  .content a {
    text-decoration: none;
  }

  .content a:link {
    color: black;
  }
