
/* Content styling; used with map.html for an individual submission's listing */

  .content {
    background-color: #ffffff;
    padding:20px;
  }

  .content h1 {
    margin-top: 20px;
    text-align: center;
  }

  .content h2 {
    margin-top: -20px;
    text-align: center;
  }

  .content a {
    text-decoration: none;
  }

  .content a:link {
    color: black;
  }

  .content p strong {
    font-size: 16pt;
  }

  .content #upload_tag {
    color: #606060;
  }

  .content #username {
    color: #606060;
  }

  .content #comment {
    margin-left: 3%;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }

  .container a:visited {
    color: black;
  }

  .border {
    margin-top: 10px;
    width: 100%;
    border-bottom:1px solid #e2e2e2;
  }

  .content form {
    margin-left: -30px;
  }

  .content input[type=text] {
    width: 50%;
    height: 50px;
    padding: 10px;
  }

  .content input[type=submit] {
    margin-left: 30px;
    margin-top: 5px;
    cursor: pointer;
  }
