
/* Global styling */

  body {
    background-color: #707070;
    margin:0;
  }

/* Navbar styling */

  .navbar {
    margin-bottom: 20px;
  }

  .navbar ul {
    list-style-type: none;
    margin-top:0;
    padding: 0;
    overflow: hidden;
    background-color: #700000;
    border: 1px solid #000;
  }

  .navbar li {
    float: left;
    /* border-right:1px solid #bbb; margin: -8px; */
  }

  .navbar li:last-child {
    border-right: none;
  }

  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
  }

  .navbar li a:hover {
    background-color: #111;
  }

/* Content styling */

  .content {
    background-color: #ffffff;
    padding-left:2%;
    padding-right:2%;
    padding-top:10px;
    padding-bottom:20px;
  }
