
/* Content styling; used with upload.html for a submission form */

  .upload_form #lab, .upload_form input {
    vertical-align: top;
    margin-top: 10px;
    display: inline-block;
  }

  .upload_form #lab {
    text-align: right;
    width: 20%;
  }

  .upload_form #upload_comment {
    margin-left: 20%;
    display: block;
    color: grey;
    margin-top: 10px;
  }

  .upload_form input, .upload_form select, .upload_form textarea {
    width: 400px;
    margin-top: 10px;
  }

  .upload_form textarea {
    resize: none;
  }

  .upload_form #but_submit {
    margin-left: 20%;
    width: auto;
  }
