
/* Content styling; used with user.html for an individual users's page */

  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .container > div {
    flex: 1;
  }

  .user_details {
    padding-left: 10px;
    border-left: 1px solid #b2b2b2;
  }

  .submissions table {
    width: 96%;
    border-collapse: collapse;
  }

  .submissions td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .submissions tr:hover {
    background-color: #e5e5e5;
  }

  .submission h2 {
    display: inline;
  }

  .submission #upload_tag {
    display: inline;
    color: #505050;
  }

  .submission object {
    width: 80px;
    height: 80px;
  }

  #edit_desc {
    padding-top: 20px;
  }
