
/* Content styling; used with user.html for an individual users's page */

  .border {
    margin-top: 10px;
    width: 100%;
    border-bottom:1px solid #e2e2e2;
  }

  .content {
    background-color: #ffffff;
    padding:20px;
  }

  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .container > div {
    flex: 1;
  }

  .submissions {
  }

  .user_details {
    padding-left: 10px;
    border-left: 1px solid #b2b2b2;
  }

  .submissions table {
    width: 96%;
    border-collapse: collapse;
  }

  .submissions td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
  }

  .submissions td h1 {
    margin-top: 10px;
  }

  .submissions tr:hover {
    background-color: #e5e5e5;
  }

  .submission h2 {
    margin-top: 0px;
    margin-left: 10px;
    display: inline;
  }

  .submission p {
    margin-left: 10px;
  }

  .submission #upload_tag {
    display: inline;
    color: #505050;
  }

  .submission object {
    width: 80px;
    height: 80px;
  }
